.flexContainer {
  display: flex;
  flex: 1;
}

.flexCentre {
  align-items: center;
  justify-content: center;
}

.flexItem {
  flex: 1;
}

.squareFill {
  max-width: min(100vh, 100vw);
  max-height: min(100vh, 100vw);
}